/*======================Globales==========================*/
:root {
    --red-color: #ff7c70;
    --blue-color: #5589c4;
    --white-color: #fff;
    --black-color: #000;

}
html {
    box-sizing: border-box;
    
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5 {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 2rem;
    margin: 0.3em 0;
}

@media (min-width: 600px) {
    h1 {
        font-size: 2.5rem;
        
    }
}

p {
    font-size: 1.25rem;
    color:var(--black-color);
}

label {
    font-size: 1.5rem;
}

a {
    font-size:1.25rem;
}

.section-title {
    text-transform: uppercase;
    font-weight: 900;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spacer {
    display: block;
    height: 5px;
    width: 100px;
    background-color: var(--red-color);
    margin-bottom: 1em;
}

@media (min-width: 600px) {
    .spacer {         
        width: 150px;     
    }
}

.r-uline-txt {
    text-decoration: underline var(--red-color);
}
.b-uline-txt {
    text-decoration: underline var(--blue-color);
}
/*========================ENCABEZADO==============================*/
    #ir-arriba-btn {
        position: fixed;
        z-index: 1000;
        right: 25px;
        bottom: 25px;
        /* width: 64px; */
        height: 64px;
        color: rgb(49 92 156);
        text-align: center;
        transition: all .2s;
    }

    #ir-arriba-btn:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
/*========================ENCABEZADO==============================*/
    #encabezado {
        background-color: rgb(49 92 156);
    }

/*========================MENU==============================*/

#menu {
    background-color: #ffff;
    box-shadow: 0 0 2px 2px rgb(0 0 30 / 30%)
}

@media (min-width:600px) {
    .inner-navbar{
        width: 90%;
    }
}

#menu a{
    font-size: 1.5rem;
    color: #3f3f3f;
}

#menu a:hover {
    font-weight: bold;
    color: black;
    text-decoration-line: underline;
}

/*====================SLIDER DE IMAGENES=========================*/

.img-fluid {
    width: 100% !important;
}

.carousel-caption {
    background-color: rgb(10 9 9 / 65%);
    border-radius: 5px;
}

.carousel-caption > p {
    color: #f7f7f7;
}

/*====================ABOUT=========================*/

#Nosotros {
    background-color: #f7f7f7;
}

/* #nosotros-container > ul > li {
    font-size: 1.5rem !important;
    color:#6b6b6b !important;
} */


.pc-vr{
    height: 200px;
    width: 5px;
    background: var(--red-color);
    opacity: 0.90;
}

.pc-txt, .pc-ttl {
    margin-left: 2rem;
}

@media (max-width: 1200px) {
    .pc-vr{
        display: none;
    }
    
    .pc-txt, .pc-ttl {
        margin-left: 0;
    }
    
}



/*====================SERVICIOS=========================*/
.servicios {
    background-color: var(--blue-color);
    padding: 0;
}
.service-grid {
    display: grid;
    grid-template-columns:minmax(auto, 200px);
    gap: 20px 50px;
    justify-content: center;
}
    
.service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-title {
    background-color: var(--red-color);
    width: 100%;
    margin: 0;
    padding: 0.25em;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
}



.icon-service{
    height: 75px;
    width: 75px;
    
    /* padding: 15px;
    border-radius: 50%;
    box-sizing: content-box; */
}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: var(--white-color);
    border-radius: 50%;
    margin-bottom: 1em;
    text-decoration: none;
    color: var(--black-color)  
}

.icon-link:hover, .icon-link:focus {
    color: var(--red-color);
    transform: scale(1.1);
}

.icon-link > span {
    font-size: 4rem;
}

.title-link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black-color);
    font-weight: 900;
}

.title-link:hover {
    color: var(--white-color);
}




@media (min-width: 450px) {
    .service-grid {
        grid-template-columns: repeat(2, 200px);
        
    }
}

@media (min-width: 900px) {
    .service-grid {
        grid-template-columns: repeat(3, 200px);
        
    }
}


.btn-item {
    background: rgb(0 94 177 / 0%);
    display: block;
    color: rgb(49 92 156);
    padding: 8px;
    font-weight: bold;
    border-bottom: 1px solid rgba(142, 142, 142, 0.5);
    margin: 0px;
    cursor: pointer;

}

.item-content {
    background: #f7f7f7;
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.active + .item-content {
    max-height: 1000px;
    padding: 10px;
    opacity: 1;
}

.btn-item.active {
    background: rgb(49 92 156);
    color: white;
    border-radius: 4px;
}

.btn-item:after {
    content: '\002b';
    float: right;
}

.btn-item.active:after{
    content: '\02012';
}

.item-content > p {
    font-size: 1.25rem;
}

.item-content > ul > li {
    font-size: 1.1rem;
}

/*====================CONTACTO=========================*/

#Contacto {
    background-color: #f7f7f7;
}
.form-control {
    font-size: 1.25rem;
}

.btn-primary {
    background: var(--blue-color);
}

/*====================FOOTER=========================*/
.b-bg-color {
    background: var(--blue-color);
}

.dev-logo{
    height: 30px;
    width:auto;
    border-radius:5px
}
