/*======================Globales==========================*/

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); */

html {
    box-sizing: border-box;
}

*{
    margin: 0;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5 {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 3rem !important;
}

p {
    font-size: 1.5rem;
    color:#6b6b6b;
}

label {
    font-size: 1.5rem;
}

a {
    font-size:1.25rem;
}

section {
    padding-left: 3vw !important;
    padding-right: 3vw !important;
    padding-top: 5vmax;
    padding-bottom: 5vmax;
}
/*========================ENCABEZADO==============================*/
    #ir-arriba-btn {
        position: fixed;
        z-index: 1000;
        right: 25px;
        bottom: 25px;
        width: 64px;
        height: 64px;
        color: rgb(49 92 156);
        text-align: center;
        transition: all .2s;
    }

    #ir-arriba-btn:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
/*========================ENCABEZADO==============================*/
    #encabezado {
        background-color: rgb(49 92 156);
    }

/*========================MENU==============================*/

#menu {
    background-color: #ffff !important;
    box-shadow: 0 0 2px 2px rgb(0 0 30 / 30%)
}
#menu a{
    font-size: 1.5rem;
    color: #3f3f3f;
}

#menu a:hover {
    font-weight: bold;
    color: black;
    text-decoration-line: underline;
}

/*====================SLIDER DE IMAGENES=========================*/

.img-fluid {
    width: 100% !important;
    height: auto !important;
}

.carousel-caption {
    background-color: rgb(10 9 9 / 65%);
    border-radius: 5px;
}

.carousel-caption > p {
    color: #f7f7f7;
}

/*====================ABOUT=========================*/

#Nosotros {
    background-color: #f7f7f7;
}

#nosotros-container > ul > li {
    font-size: 1.5rem !important;
    color:#6b6b6b !important;
}
/* #imagen-about{
    max-width: 75%;
} */

/*====================SERVICIOS=========================*/

.btn-item {
    background: rgb(0 94 177 / 0%);
    display: block;
    color: rgb(49 92 156);
    padding: 8px;
    font-weight: bold;
    border-bottom: 1px solid rgba(142, 142, 142, 0.5);
    margin: 0px;
    cursor: pointer;

}

.item-content {
    background: #f7f7f7;
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.active + .item-content {
    max-height: 1000px;
    padding: 10px;
    opacity: 1;
}

.btn-item.active {
    background: rgb(49 92 156);
    color: white;
    border-radius: 4px;
}

.btn-item:after {
    content: '\002b';
    float: right;
}

.btn-item.active:after{
    content: '\02012';
}

.item-content > p {
    font-size: 1.25rem;
}

.item-content > ul > li {
    font-size: 1.1rem;
}

/*====================CONTACTO=========================*/

#Contacto {
    background-color: #f7f7f7;
}
.form-control {
    font-size: 1.25rem;
}