/*======================Globales==========================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

section {
    padding-left: 5vw !important;
    padding-right: 5vw !important;
    padding-top: 5vmax;
    padding-bottom: 5vmax;
}

/*========================MENU==============================*/

#menu a{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

/*====================SLIDER DE IMAGENES=========================*/
.carousel-inner > image{
    max-height: 39rem;
    

}

/*====================ABOUT=========================*/

#imagen-about{
    max-width: 75%;
}

/*====================SERVICIOS=========================*/

.btn-item {
    background: rgb(0 94 177 / 0%);
    display: block;
    color: rgb(49 92 156);
    padding: 8px;
    font-weight: bold;
    border-bottom: 1px solid rgba(142, 142, 142, 0.5);
    margin: 0px;
    /* border-radius: 4px; */
    cursor: pointer;

}

.item-content {
    background: #ececec;
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.active + .item-content {
    max-height: 1000px;
    padding: 10px;
    opacity: 1;
}

.btn-item.active {
    background: rgb(49 92 156);
    color: white;
    border-radius: 4px;
}

.btn-item:after {
    content: '\002b';
    float: right;
}

.btn-item.active:after{
    content: '\02012';
}